In [2]:
import pandas as pd

In [3]:
results = pd.read_clipboard()

In [5]:
print results[['Data set alias','Number of patterns','Number of features','Production time','Combination time','Recovery time']].to_latex(index=False)
results[['Data set alias','Number of patterns','Number of features','Production time','Combination time','Recovery time']]

\begin{tabular}{lrrrlr}
\toprule
Data set alias &  Number of patterns &  Number of features &  Production time &                                   Combination time &  Recovery time \\
\midrule
      PHYACT 1 &              441568 &                  30 &      2158.694059 &                                      123.858484983 &      19.765186 \\
      PHYACT 2 &              359170 &                  30 &      1477.346136 &                                      98.8667109013 &      15.796466 \\
         Kdd99 &             2449216 &                  41 &     10284.166381 &  not possible to run because the bgs was 964287... &            NaN \\
         esopH &              136127 &                   2 &        17.943892 &                                      35.1568570137 &       3.959914 \\
      diabetes &              101766 &                  41 &       188.560769 &                                      33.7938790321 &       5.074828 \\
\bottomrule
\end{tabular}

,Data set alias,Number of patterns,Number of features,Production time,Combination time,Recovery time
0,PHYACT 1,441568,30,2158.694059,123.858484983,19.765186
1,PHYACT 2,359170,30,1477.346136,98.8667109013,15.796466
2,Kdd99,2449216,41,10284.166381,not possible to run because the bgs was 964287...,NaN
3,esopH,136127,2,17.943892,35.1568570137,3.959914
4,diabetes,101766,41,188.560769,33.7938790321,5.074828